{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "trailingComma": "es5"
}
